<h1>Register Page</h1>
<form action="/Home/Register" method="post">
    <input type="text" name="username" value="" placeholder="Ingresa tú correo electrónico" />
    <input type="text" name="password" value="" placeholder="Ingresa tú contraseña" />
    <button type="submit">Register</button>
</form>