<h1>Register Page</h1>
<form action="/Home/Register" method="post">
    <input type="text" name="username" value="" placeholder="Ingresa un nombre de usuario" />
    <input type="text" name="email" value="" placeholder="Ingresa un correo" />
    <input type="password" name="password" value="" placeholder="Ingresa tú contraseña" />
    <button type="submit">Register</button>
</form>